[include]
  path = ~/.gitconfig.local
[core]
  editor = vim
[color]
  ui = true
[diff]
  compactionHeuristic = true
  noprefix = true
[pull]
  ff = only
[init]
  defaultBranch = main
[mergetool]
	keepBackup = false
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

